.comment{ :id => "comment-#{comment.id}" }
  %hr
  - if can? :destroy, comment
    = link_to "×", comment_path(comment), :method => :delete, :remote => true, :confirm => "Are you sure you want to remove this comment?", :disable_with => "×", :class => 'close'
  %h4
    = comment.user.username
    %small= comment.updated_at.strftime('%Y-%m-%d %H:%M %p')
  %p= comment.body