%p#notice= notice

%p
  %b Title:
  = @photo.title
%p
  %b Image:
  = image_tag @photo.image.url
%p
  %b User:
  = @photo.user.username
%p
  %b Category:
  = @photo.category.name
%p
  %b Comments allowed:
  = @photo.comments_allowed

= link_to 'Edit', edit_photo_path(@photo)
\|
= link_to 'Back', photos_path
