%p#notice= notice

%p
  = image_tag @photo.image.url, title: @photo.title
%p
  %b Uploaded by:
  = @photo.user.username
%p
  %b Category:
  = @photo.category.name

= link_to 'Edit', edit_photo_path(@photo)

= link_to 'Back', photos_path

%div
  = link_to "New Comment", new_photo_comment_path(@photo)
