%p#notice= notice

%p
  = image_tag @photo.image.url, title: @photo.title
%p
  %b Uploaded by:
  = @photo.user.username
%p
  %b Category:
  = @photo.category.name

- if admin?
  = link_to 'Remove', @photo, :method => :delete, :data => { :confirm => 'Are you sure?' }, class: 'btn'

- if @photo.comments_allowed
  .comments
    - if current_user
      %h4 Add your comment
      = render :partial => 'comments/form', :locals => { comment: @new_comment }
    = render :partial => 'comments/comment', :collection => @comments, :as => :comment