%p#notice= notice

%p
  = image_tag @photo.image.url, title: @photo.title
%p
  %b Uploaded by:
  = @photo.user.username
%p
  %b Category:
  = @photo.category.name

= link_to 'Edit', edit_photo_path(@photo)

= link_to 'Back', photos_path

.comments
  %h2 Comments
  = render :partial => 'comments/form', :locals => { comment => @new_comment }
  = render :partial => 'comments/comment', :collection => @comments, :as => :comment